@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;
  list-style: none;
}

body,
html {
  height: 100%;
}

main {
  background: linear-gradient(-90deg, #e9dfd5, #efe8dfd9);
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 3em 15em 0;
  background: linear-gradient(-90deg, #e9dfd5, #efe8dfd9);
  text-align: center;
  align-items: center;
}

.header-content h2 a {
  font-size: 2.5em;
  color: #ab6162;
}
.menu-flex {
  display: flex;
  gap: 2em;
}

.menu-flex li a {
  font-size: 1.2em;
  color: #ab6162;
  font-weight: 600;
}

/* img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
} */

.main-img {
  /* The image used */
  background-image: url("img/img7.jpg");
  /* URL: https://images.unsplash.com/photo-1543573852-1a71a6ce19bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80 */
  /* Full height */
  height: 870px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  margin-top: -47em;
}

.page-title {
  font-size: 2em;
  color: #ab6162;
  margin-bottom: 0.8em;
  text-align: center;
}
.title-button a {
  color: rgba(6, 4, 4, 0.523);
  font-size: 1.5em;
  padding: 0.5em;
  border: 0.2em solid #ab6162;
  font-weight: 600;
}

.title-button a:hover {
  background-color: #ab6162;
  color: #e9dfd5;
}
/* ****************************************** */
.content {
  background: linear-gradient(-90deg, #e9dfd5, #efe8dfd9);
  padding-top: 5em;
  padding-bottom: 10em;
}

.table {
  margin: 0 auto;
}

th,
td {
  border: 0.1em solid #ab6162;
  padding: 0.2em 1em;
  text-align: center;
}

th {
  font-size: 2em;
  color: #ab6162;
}
td {
  font-size: 1.5em;
  font-weight: 600;
  color: rgba(95, 95, 95, 0.877);
}
/* ****************************************** */
.about-text {
  font-size: 1.5em;
  color: rgba(95, 95, 95, 0.877);
  padding: 1em 4em 15em;
}

.page-title-about {
  font-size: 2em;
  color: #ab6162;
  margin-bottom: 0.8em;
  text-align: center;
  padding-top: 2em;
}
/* ****************************************** */

footer {
  text-align: center;
  padding: 0.2em 0;
  color: rgba(6, 4, 4, 0.523);
  background: linear-gradient(-90deg, #e9dfd5, #efe8dfd9);
}

footer p {
  font-weight: 600;
  font-size: 1em;
}
/* ****************************************** */

/* TABLET */
@media screen and (max-width: 960px) {
  /* Change from 768px to 48em */
  .header-content {
    padding: 3em 8em 0;
  }

  .header-content h2 a {
    font-size: 1.5em;
  }
  .menu-flex {
    gap: 1em;
  }

  .menu-flex li a {
    font-size: 1em;
  }

  img {
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 2736px;
    max-height: 2048px;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    margin-top: -45em;
  }

  .page-title {
    font-size: 1.5em;
  }
  .title-button a {
    font-size: 1em;
  }

  .title-button a:hover {
    background-color: #ab6162;
    color: #e9dfd5;
  }

  /* ****************************************** */
  .content {
    background: linear-gradient(-90deg, #e9dfd5, #efe8dfd9);
    padding-top: 5em;
    padding-bottom: 10em;
  }

  th {
    font-size: 1.5em;
  }
  td {
    font-size: 1em;
  }
  /* ****************************************** */
  .about-text {
    font-size: 1em;
    padding: 1em 4em 15em;
  }

  .page-title-about {
    font-size: 1.5em;
  }
  /* ****************************************** */
  footer p {
    font-weight: 600;
    font-size: 1em;
  }
}

@media screen and (max-width: 480px) {
  /* PHONE*/
  .header-content {
    padding: 3em 8em 0;
    flex-direction: column;
    align-items: center;
  }

  .header-content h2 a {
    font-size: 1.8em;
  }
  .menu-flex {
    gap: 2em;
  }

  .menu-flex li a {
    font-size: 0.8em;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    margin-top: -44em;
  }

  .page-title {
    font-size: 1.4em;
  }
  .title-button a {
    font-size: 1em;
  }

  .title-button a:hover {
    background-color: #ab6162;
    color: #e9dfd5;
  }
  /* ****************************************** */

  .content {
    background: linear-gradient(-90deg, #e9dfd5, #efe8dfd9);
    padding-top: 5em;
    padding-bottom: 15em;
  }

  th {
    font-size: 1em;
  }
  td {
    font-size: 0.5em;
  }
  /* ****************************************** */
  .about-text {
    font-size: 1em;
    padding: 2em 4em 15em;
  }

  .page-title-about {
    font-size: 1em;
  }
  /* ****************************************** */
  footer p {
    font-weight: 600;
    font-size: 0.5em;
  }
}
