extends layout 

block append scripts 
  //add more scripts to the scripts block from layout.pug
  script(src="/about.js")

block main-content 
  h1.page-title-about #{title}
  p.about-text Welcome to Juice Jam, your go-to destination for delicious and nutritious smoothies in Toronto! We are a family-owned business that is passionate about creating unique blends of fruits and vegetables to help you boost your health and energy. We are open Monday - Friday from 8AM - 8PM. All of our smoothies are made with the freshest ingredients and are free of preservatives and artificial flavors. We believe in using natural, whole food ingredients to give you a truly healthy and delicious experience. Whether you're looking for a quick pick-me-up, or to refuel after a workout, we have something for everyone. Come visit us at our location in Toronto and try one of our signature blends today!