extends layout 


block main-content 
  //You can overwrite the main-content block by writing block content
  //in the template file which is extending.
  .main-img
  div.main-text
    h1.page-title We make the best smoothies in Toronto.
    p.title-button 
      a(href="/admin/menu") See our smoothies 
