extends layout 

block main-content 
  .content 
    h1.page-title Menu 
    table.table 
      thead 
        tr 
          th Name 
          th Ingredients
          th Calories 
          th Price
      tbody 
        each link in menu
          tr 
            td #{link.name}
            td #{link.ingredients}
            td #{link.calories}
            td #{link.price}
            
    